.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active-link {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: underline;
}

span {
    color: var(--primary-color);
}

h1 {
    font-size: 20px;
}

li {
    color: blanchedalmond;
}