<div class="container mt-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, velit impedit illum delectus, aspernatur, maiores ipsa aliquam rerum explicabo labore ex aliquid ad dolorem? Est repudiandae ullam iusto nam quibusdam. Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Unde, reiciendis nobis doloremque necessitatibus nostrum velit expedita quo! Impedit dolorem ut iusto totam, doloremque perspiciatis aliquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam perspiciatis aliquam
        consectetur labore officia sit reprehenderit dolorem culpa dignissimos repudiandae? Omnis adipisci in quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolore nihil temporibus unde fugit numquam commodi facere consequatur
        ipsum, impedit reprehenderit doloremque?
        <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eveniet id a illum aliquam facere perferendis at enim provident. A. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, cumque? Cum deserunt, consequatur exercitationem
        voluptas nobis nisi architecto quod pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ipsum sit corporis pariatur quia modi.
        <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, culpa. Lorem ipsum dolor sit amet.
    </p>


</div>